<aside class="aside aside_social">
  <ul class="social">
    <li class="social__item">
      <a
        href="https://www.youtube.com/channel/UCtS6H8tW0E9I8C5kbnztHow/videos?view_as=subscriber"
        target="_blank"
        title="Перейти на нанаш канал на YouTube"
      >
        <img src="assets/icons/youtube.svg" alt="youtube" height="40" />
      </a>
    </li>
    <li class="social__item">
      <a href="https://t.me/kykalex" target="_blank" title="Написать в Telegram">
        <img src="assets/icons/telegram.svg" alt="telegram" height="40" />
      </a>
    </li>
    <li class="social__item">
      <a href="viber://chat?number=+380938352404" target="_blank">
        <img src="assets/icons/viber.svg" alt="viber" height="40" title="Написать мне в Viber" />
      </a>
    </li>
  </ul>
</aside>
