<h1 class="main-title">Котушки (датчики) для металошукачів Квазар (АРМ, АВР), Фортуна (М, М2, М3, ПРО)</h1>
<section id="sniper" class="coils">
  <div class="coils__header">
    <h2 class="coils__title">Концентрична (Снайперка)</h2>
    <button class="coils__question-btn" title="Відкрити інформацію про Снайперку"></button>
  </div>
  <div class="coils__descr">
    <p>
      Наиболее распространенный датчик, используется большинством металлоискателей предназначенных для охоты на
      ювелирные изделия, монеты и реликвии. Приборы с таким датчиком имеют хорошую дискриминацию, стабильны на грунте,
      избирательны в отношении цели, и легко находят её среди прочего металла. Концентрические катушки обеспечивают
      наиболее симметричное поле обнаружения, что позволяет легко определять местоположение и последовательность при
      определении целей.
    </p>
    <p>
      <strong>Конструкция</strong> снайперки состоит из трех обмоток: передающей(Tx) приемной(Rx) и компенсационной(Cx).
      Все три обмотки лежат в одной плоскости. Электромагнитное поле этой катушки находится над и под обмотками и имеет
      коническую форму с наибольшей плотностью непосредственно в центре катушки, как показано на рисунке снизу.
    </p>
    <img src="assets/img/concentric.jpg" alt="alt"  />
    <p>
      <strong>Форма</strong> снайперки бывает эллипсоидная и круглая. Эллипсоидная форма может охватывать больше земли
      при каждом махе по сравнению с круглой катушкой с той же площадью. Имеет немного вытянутый "Лодочный" захват цели.
      Эллиптической катушкой также легче маневрировать в густой растительности, между растительностью, кустами, камнями,
      на пересеченной местности, чем круглой. Тем не менее, может быть сложнее добиться точного определения мелких
      целей. Круглая форма имеет большую глубину обнаружения, в сравнении с эллипсом (1-3см.). Захват цели происходит
      конусом "перевёрнутая пирамида". Режим пинпоинтера работает точнее по центру чем катушка эллипсоидной формы.
    </p>
    <p>
      <strong> Размер</strong> бывает от 10см. до 25-30см. в диаметре. Малые размеры применяются при сильно замусоренных
      железом местах, где все "звенит". В случае мест, где сигналов меньше рекомендуется использовать датчик больших
      размеров для увеличения глубины.
    </p>
    <p><strong> Частоты</strong> могут быть от 5000Гц до 17000Гц. Но чаще всего делают средние от 9000Гц до 11000Гц.</p>
    <p>
      <strong class="advantages">Преимущества: </strong>
      Возможность работать там, где катушка формы ДД слепнет от множественного металлического мусора.
    </p>
    <p>
      <strong class="disadvantages">Недостатки: </strong>по отношению к другим катушкам, например ДД. Меньший захват
      сканируемой земли при махе.
    </p>
  </div>
  <ul class="card-container"></ul>
</section>
<section id="dd" class="coils">
  <div class="coils__header">
    <h2 class="coils__title">ДД (Double D)</h2>
    <button class="coils__question-btn" title="Відкрити інформацію про ДД"></button>
  </div>
  <div class="coils__descr">
    <p>
      Один из популярных типов датчиков. Все разновидности ДД датчиков больших и средних размеров используют для
      сканирования больших территорий. Модели меньше 25см. называют снайперками, применяют с успехом на пляжах.
    </p>
    <p>
      <strong> Конструкция </strong> состоит из двух обмоток: передающей(Tx) и приемной(Rx). Они расположены в форме
      двух латинских перевернутых букв D, отсюда и название датчика Double D. Электромагнитное поле готового датчика
      находится над и под обмотками, и имеет форму цилиндра. Практически вся площадь под датчиком просвечивается, как
      показано на рисунке внизу.
    </p>
    <img src="assets/img/dd.jpg" alt="alt"  />
    <p>
      <strong>Формы и размеры</strong> самые разные, от маленьких - 15см, до больших - 40см и больше в диаметре. От
      размера зависит глубина обнаружения цели к большим предметам. Как правило, стандартным размером катушки считается
      25см. С этой катушкой можно ходить по большей части полей. В случае замусоренной территории рекомендуется ставить
      датчик меньшего диаметра, под такую катушку будет попадать меньше железа и она сможет точнее находить
      местоположение цели. Если мы работаем на выбитых местах, где металлического мусора мало, стоит присмотреться к
      катушкам больших размеров. При поиске мы уменьшим количество пропусков целей, благодаря большей глубине
      обнаружения для крупного металла.
    </p>
    <p>
      <strong>Частоты</strong> выбирают и ставят в зависимости от размера, геометрии корпуса и желаемого поиска металла,
      при этом не забывая о стабильности его работы. Обычно на небольшие, до 23 см, датчики ставят частоты до 17000Гц.
      От 23см до 25см могут работать с частотами 10000Гц - 12000Гц. От 25см в диаметре и больше ставят частоты 9000Гц -
      5000Гц.Низкая частота позволяет искать глубже. Чувствительность катушки к мелким целям снижается. Высокая частота
      позволяет искать мелкие цели, но глубина поиска катушки уменьшается.
    </p>
    <p>
      <strong class="advantages">Преимущества: </strong>покрывает большую площадь грунта за один проход по сравнению со
      снайперкой.
    </p>
    <p>
      <strong class="disadvantages">Недостатки: </strong>точное расположение цели ДД датчиком происходит сложней по
      сравнению со снайперкой.
    </p>
  </div>
  <ul class="card-container"></ul>
</section>
<section id="sd" class="coils">
  <div class="coils__header">
    <h2 class="coils__title">SUPER D</h2>
    <button class="coils__question-btn" title="Відкрити інформацію про SUPER D"></button>
  </div>
  <div class="coils__descr">
    <p>
      Можно сказать - модернизация, усовершенствование ДД датчика. Cоздана для полей и лесов. Более информативна к
      сложным целям, например, монета, лежащая на ребре, или рядом с ржавым гвоздём золотое кольцо или монета.
    </p>
    <p>
      <strong>Конструкция</strong> состоит из центральной передающей обмотки(Tx) прямоугольной формы и двух внешних
      принимающих контуров(Rx) в форме букв "D". Благодаря такому размещению отклик от мишени получается длиннее,
      информативнее, по сравнению с ДД, и не останется не замеченным в случае мелких целей. С частотами 9000Гц - 12000Гц
      прекрасно видит золотую цепочку.
    </p>
    <img src="assets/img/sd.jpg" alt="alt"  />
  </div>
  <ul class="card-container"></ul>
</section>
<section id="omega" class="coils">
  <div class="coils__header">
    <h2 class="coils__title">Омега</h2>
    <button class="coils__question-btn" title="Відкрити інформацію про Омега"></button>
  </div>
  <div class="coils__descr">
    <p>
      Альтернатива концентрическому датчику. Принцип обнаружения металла в земле как у концентрического датчика.
      Провести крестом и по наибольшему отклику предмет будет в центре. Отличается от концентрического датчика
      конструкционными положениями катушек, и их количеством. В Омеги их всего две, в отличии от концентрической
      катушки(три). Частоты обычно ставят от 8000Гц и выше. Прекрасно ведет себя на грунте.
    </p>
  </div>
  <ul class="card-container"></ul>
</section>
<section id="bigFoot" class="coils">
  <div class="coils__header">
    <h2 class="coils__title">Big Foot (Диференціал)</h2>
    <button class="coils__question-btn" title="Відкрити інформацію про Big Foot (Диференціал)"></button>
  </div>
  <div class="coils__descr">
    <p>
      Разновидность ДД катушек. Расположение приемной и передающей катушек вертикальне. Из-за своей малой величины
      относится к снайперкам. Хороша для поиска на пляже.
    </p>
  </div>
  <ul class="card-container"></ul>
</section>
<section id="accessories" class="coils">
  <div class="coils__header">
    <h2 class="coils__title">Комплектуючі</h2>
  </div>
  <ul class="card-container"></ul>
</section>
