<header class="main-header">
  <div class="container">
    <div class="main-header__wrapper">
      <a href="/" class="logo"><img class="logo" src="assets/img/logo.svg" alt="logotype" width="400" /></a>
      <div class="main-header__contacts">
        <a href="tel:+380938352404">+38(093)-835-24-04</a>
        <span class="main-header__name">Олександр</span>
        <button data-modal class="button button__main-header">Подзвоніть мені</button>
      </div>
    </div>
    <nav class="menu menu_pos">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="/">Датчики</a>
        </li>
        <li class="menu__item">
          <a href="/blog">Статті</a>
        </li>
        <li class="menu__item">
          <a href="archive.html">Архів</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
