.card-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  flex-wrap: wrap;
}
.card {
  display: flex;
  width: 50%;
  margin-bottom: $gutter * 2;
  &__img {
    width: 50%;

    img {
      width: 100%;
      border-radius: 2px;
    }
  }
  &__descr {
    width: 50%;
    margin-left: 15px;
    h3 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__list {
    list-style: none;
    margin-top: $gutter;

    li {
      margin-top: $gutter/2;
      b {
        margin-right: $gutter/2;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 100%;

    &__list {
      margin-top: 5px;
      li {
        margin-top: 2px;
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .card-container {
    justify-content: space-between;
  }
  .card {
    &__img {
      width: 100%;
    }
    &__descr {
      width: 100%;
    }
    flex-direction: column;
    &__descr {
      margin: 0;
    }
  }
}
